body{

background:#F5F7FA;

font-family:Poppins,sans-serif;

margin:0;

}

header{

background:#31589F;

color:white;

padding:20px;

text-align:center;

}

.container{

padding:20px;

}

.carte{

background:white;

border-radius:15px;

padding:15px;

margin-bottom:15px;

box-shadow:0 2px 8px rgba(0,0,0,.1);

}

.image{

border-radius:10px;

display:block;

}

.titre{

font-size:18px;

font-weight:bold;

}

.prix{

color:#31589F;

font-weight:bold;

}

.localisation{

color:#777;

}

.btn{

padding:10px;

border:none;

border-radius:8px;

cursor:pointer;

}

.btn-ajout{

background:#10B981;

color:white;

}

.btn-supprimer{

background:#31589F;

color:white;

}